# gitignore
$RECYCLE.BIN/
*.7z
*.a
*.app
*.bz2
*.bzip
*.cab
*.deb
*.dll
*.dmg
*.dSYM/
*.dylib
*.egg
*.elf
*.exe
*.gch
*.gem
*.gz
*.hex
*.i*86
*.iso
*.jar
*.ko
*.la
*.lai
*.lib
*.lnk
*.lo
*.lzma
*.mod
*.msi
*.msm
*.msp
*.o
*.obj
*.out
*.pch
*.rar
*.rpm
*.slo
*.so
*.so.*
*.stTheme.cache
*.sublime-workspace
*.tar
*.tmlanguage.cache
*.tmp
*.tmPreferences.cache
*.un~
*.x86_64
*.xlk
*.xpi
*.xz
*.zip
*~
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.directory
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.netrwhist
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
.~lock.*
/aclocal.m4
/autom4te.cache
/autoscan-*.log
/autoscan.log
/compile
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
Desktop.ini
ehthumbs.db
Icon
Network Trash Folder
[sS]ession.vim
sftp-config.json
Temporary Items
Thumbs.db
~$*.doc*
~$*.ppt*
~$*.xls*
